<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDQ2t2u1bNVqhgtg_x4Pj-WEyn-XRKSBFc</string>
	<key>GCM_SENDER_ID</key>
	<string>941895894851</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.withing.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>modi-31349</string>
	<key>STORAGE_BUCKET</key>
	<string>modi-31349.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:941895894851:ios:90f76fa945a23185b311f6</string>
</dict>
</plist>